{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ 'Users'|trans }} <span>{{ 'edit'|trans }}</span></h3>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role': 'form', 'id': 'user', 'class': 'form-horizontal form-label-left'}}) }}
        {{ include('Users/form.html.twig') }}
        <div class="pull-right">
            <a href="{{ path('app_users_index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[type=tel]').intlTelInput({
                allowExtensions: true,
                autoFormat: false,
                autoHideDialCode: true,
                autoPlaceholder: false,
                defaultCountry: 'auto',
                geoIpLookup: function(callback) {
                    $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                        var countryCode = (resp && resp.country) ? resp.country : '';
                        callback(countryCode);
                    });
                },
                nationalMode: false,
                numberType: 'MOBILE',
                preferredCountries: ['cu'],
                utilsScript: '{{ asset('plugins/intl-tel-input/js/utils.js') }}'
            });

            +(function() {
                $.validator.addMethod('strongpassword', function(value, element) {
                    return this.optional(element) || (/[A-Z]/.test(value) && /[a-z]/.test(value) && /[0-9]/.test(value) && value.length > 7);
                }, '{{ 'Password strong is too low (8 characters minimun and contains at least 1 character from groups [A-Z], [a-z] and [0-9])'|trans }}');
                $('#user').validate({
                    rules: {
                        '{{ form.plainPassword.first.vars.full_name }}': 'strongpassword',
                        '{{ form.plainPassword.second.vars.full_name }}': {
                            equalTo: '#{{ form.plainPassword.first.vars.id }}'
                        }
                    },
                    errorPlacement: function(error, element) {
                        if (!element.data('tooltipster-ns')) {
                            element.tooltipster({
                                trigger: 'custom',
                                onlyOne: false,
                                position: 'bottom-left',
                                positionTracker: true
                            });
                        }
                        element.tooltipster('update', $(error).text());
                        element.tooltipster('show');
                    },
                    success: function (label, element) {
                        $(element).tooltipster('hide');
                    }
                });
            }());
        });
    </script>
{% endblock %}