{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ 'Users'|trans }} <span>{{ 'new'|trans }}</span></h3>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role': 'form', 'id': 'user', 'class': 'form-horizontal form-label-left'}}) }}
        {{ include('Users/form.html.twig') }}
        <div class="pull-right">
            <a href="{{ path('app_users_index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        var url_utilScript = '{{ asset('plugins/intl-tel-input/js/utils.js') }}';
        $(document).ready(function() {
            App.Users.Form.init();
        });
    </script>
{% endblock %}