{% block collection_row %}
    <div class="collection row" id="{{ form.vars.id }}" data-prototype="{{ form_row(form.vars.prototype)|e }}">
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{% endblock %}

{% block reservation_service_pay_attachment_row %}
    <div class="col-xs-6 item">
        {{ form_widget(form.file) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}