<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{{ 'Paid notes'|trans }}</h4>
</div>
<div class="modal-body">
    <table class="table">
        <tr>
            <th>{{ 'Supplier'|trans }}</th>
            <td>{{ record.supplier }}</td>
        </tr>
        <tr>
            <th>Service</th>
            <td>{{ record.name }}</td>
        </tr>
        <tr>
            <th>Booking</th>
            <td>{{ record.reservation }}</td>
        </tr>
        <tr>
            <th>{{ 'From - To '|trans }}</th>
            <td>{{ record.startAt|date('d/m/Y H:i') }} - {{ record.endAt|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>{{ 'Charge'|trans }}</th>
            <td>{{ '%0.2f'|format(record.supplierPrice) }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ record.payNotes }}</td>
        </tr>
        {% if record.payAttachments|length > 0 %}
            <tr>
                <th>{{ 'Attachments'|trans }}</th>
                <td>
                    {% for a in record.payAttachments %}
                        <a href="{{ path('app_cxpagar_downloadattachment', {'id': a.id}) }}" class="btn btn-default btn-block btn-xs" target="_balnk">
                            <i class="fa fa-download"></i>
                            {{ a.originalFilename }}
                        </a>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    </table>
</div>
<div class="modal-footer">
    <a href="{{ path('app_cxpagar_cancelpay', {'id': record.id}) }}" class="btn btn-default btn-danger">{{ 'Cancel pay'|trans }}</a>
    <button class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
</div>