{% extends 'frontend.html.twig' %}

{% form_theme form _self %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ 'My profile'|trans }} <small>{{ 'edit'|trans }}</small></h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left', 'id': 'profile'}}) }}
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ 'Personal info'|trans }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.gender, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.gender, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.mobilePhone, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.mobilePhone, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.postalAddress, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.postalAddress, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.imageFile, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.imageFile) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ 'System info'|trans }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            {{ form_label(form.email, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
                    <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script>
        util_url = '{{ asset('plugins/intl-tel-input/js/utils.js') }}';
        $(document).ready(function() {
            App.Profile.Form.init();
        });
    </script>
{% endblock %}

{% block vich_image_widget %}
    <div class="fileupload fileupload-{{ download_uri is defined and download_uri ? 'exists' : 'new' }} text-center" data-provides="fileupload">
        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
            <img src="{{ no_image_url|default(asset('images/anonimo.png')) }}" alt="" />
        </div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
            <img src="{{ download_uri is defined and download_uri ? download_uri : asset("images/anonimo.png") }}" alt="" />
        </div>
        <div>
            <span class="btn btn-file">
                <span class="fileupload-new">{{ 'Select image'|trans }}</span>
                <span class="fileupload-exists">{{ 'Select new image'|trans }}</span>
                {{ form_widget(form.file, {'class': 'default'}) }}
                {% if form.delete is defined %}
                    <span class="hidden">{{ form_widget(form.delete) }}</span>
                {% endif %}
            </span>
            {% if form.delete is defined %}
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{{ 'Remove'|trans }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
