{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ 'Cuentas x cobrar'|trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="filter">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-10 col-xs-6 col-xs-offset-6">
                                <label for="filter_state" class="control-label">{{ 'Pagado'|trans }}</label>
                                <select id="filter_state" name="filter[state]" class="form-control input-sm">
                                    <option value=""{{ filter.state is not defined or filter.state == '' ? ' selected="selected"' : '' }}></option>
                                    <option value="no"{{ filter.state is defined and filter.state == 'no' ? ' selected="selected"' : '' }}>{{ 'No'|trans }}</option>
                                    <option value="yes"{{ filter.state is defined and filter.state == 'yes' ? ' selected="selected"' : '' }}>{{ 'Yes'|trans }}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-12"><br></div>
                    </div>
                    <table id="datatable-x" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'Client'|trans }}</th>
                                <th>{{ 'Booking name'|trans }}</th>
                                <th>{{ 'Start'|trans }}</th>
                                <th>{{ 'End'|trans }}</th>
                                <th>{{ 'Charge'|trans }}</th>
                                <th>{{ 'Pay date'|trans }}</th>
                                <th>{{ 'Pay notes'|trans }}</th>
                                <th width="100">{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modal-change" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modal-view" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    {% javascripts filter="yui_js" output="compiled/js/cxc.js" '../web/js/cxc.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}