{% extends 'base.html.twig' %}

{% block html_tag %}<html lang="{{ app.request.locale|split('_')[0] }}">{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}Operaciones P&amp;GTRAVEL{% endblock %}

{% block stylesheets %}

    {% stylesheets filter="cssrewrite,?scssphp" output="compiled/css/plugins.min.css"
        "plugins/bootstrap/dist/css/bootstrap.css"
        "plugins/font-awesome/css/font-awesome.css"
        "plugins/intl-tel-input/css/intlTelInput.min.css"
        "plugins/iCheck/skins/flat/green.css"
        "plugins/nprogress/nprogress.css"
        "plugins/tooltipster/css/tooltipster.css"
        "plugins/tooltipster/css/tooltipster-custom.css"
        "plugins/tooltipster/css/themes/tooltipster-shadow.css"
        "plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"
        "plugins/fullcalendar/fullcalendar.css"
        "plugins/datatables.net-bs/css/dataTables.bootstrap.css"
        "plugins/select2/dist/css/select2.css"
        "plugins/sweetalert/sweetalert.css"
        "plugins/bootstrap-fileupload/bootstrap-fileupload.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <!-- Custom Theme Style -->
    {% stylesheets filter="?scssphp" output="compiled/css/custom.min.css"
        "css/custom.css"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    {% block page_stylesheets %}{% endblock %}
{% endblock %}

{% block body_tag %}<body class="nav-md">{% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="{{ path('homepage') }}" class="site_title"></i>
                            <img src="{{ asset('images/logo.png') }}" alt="" class="img" style="width: 50px;">
                            <span>P&amp;GTRAVEL</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="{{ app.user.imageFilename is not empty ? vich_uploader_asset(app.user, 'imageFile') : asset('images/img.jpg') }}" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            {% trans with {'%user%': app.user.fullName ? app.user.fullName : app.user.email} -%}
                                <span>Welcome, </span>
                                <h2>%%user%%</h2>
                            {%- endtrans %}
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="javascript:;"><i class="fa fa-cogs"></i> {{ 'Administration'|trans }} <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{{ path('app_clients_index') }}">{{ 'Clients'|trans }}</a></li>
                                        <li><a href="{{ path('app_suppliers_index') }}">{{ 'Suppliers'|trans }}</a></li>
                                        <li><a href="{{ path('app_contracts_index') }}">{{ 'Contracts'|trans }}</a></li>
                                        <li><a href="{{ path("app_places_index") }}">{{ 'Places'|trans }}</a></li>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li><a href="{{ path('app_users_index') }}">{{ 'Users'|trans }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-tachometer"></i> {{ 'Operation'|trans }} <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{{ path('app_offers_index') }}">{{ 'Costing and booking list'|trans }}</a></li>
                                        <!-- <li><a href="{{ path('homepage') }}">{{ 'Calendar view'|trans }}</a></li> -->
                                        <li><a href="{{ path('app_notifications_index') }}">{{ 'Services confirm'|trans }}</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-bank"></i> {{ 'Banking'|trans }}<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{{ path('app_cxcobrar_index') }}">{{ 'Receivable accounts'|trans }}</a></li>
                                        <li><a href="{{ path('app_cxpagar_index') }}">{{ 'Payable accounts'|trans }}</a></li>
                                    </ul>
                                </li>
                                <!--
                                    <li>
                                        <a href="{{ path('app_reports_index') }}">
                                            <i class="fa fa-list"></i>
                                            {{ 'Reports'|trans }}
                                        </a>
                                    </li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                    {#
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                    #}
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ app.user.imageFilename is not empty ? vich_uploader_asset(app.user, 'imageFile') : asset('images/img.jpg') }}" alt="">{{ app.user.email }}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="{{ path('fos_user_profile_edit') }}"> {{ 'Profile'|trans }}</a></li>
                                    <li>
                                        <a href="javascript:;" id="linkChangePassword">{{ 'Change password'|trans }}</a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> {{ 'Log Out'|trans }}</a></li>
                                </ul>
                            </li>

                            {{ render(controller('AppBundle:Alerts:homeSection')) }}
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    P&amp;GTRAVEL Operaciones by <a href="mailto:raibelbotta@gmail.com">Raibel Botta</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <div class="modal fade" id="modalPassword" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'Change password'|trans }}</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="button" class="btn btn-primary">{{ 'Change password'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>

    <script>
        phone_util_script_url = '{{ asset('plugins/intl-tel-input/js/utils.js') }}';
    </script>

    <!-- plugins -->
    {% javascripts filter="?jsqueeze" output="compiled/js/plugins.min.js"
        "plugins/jquery/dist/jquery.min.js"
        "plugins/jquery-migrate-1.2.1.js"
        "plugins/bootstrap/dist/js/bootstrap.js"
        "plugins/fastclick/lib/fastclick.js"
        "plugins/nprogress/nprogress.js"
        "plugins/jquery.form.js"
        "plugins/tooltipster/js/jquery.tooltipster.js"
        "plugins/jquery-validation/dist/jquery.validate.js"
        "plugins/moment/moment.js"
        "plugins/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"
        "plugins/intl-tel-input/js/intlTelInput.js"
        "plugins/fullcalendar/fullcalendar.js"
        "plugins/iCheck/icheck.js"
        "plugins/datatables.net/js/jquery.dataTables.js"
        "plugins/datatables.net-bs/js/dataTables.bootstrap.js"
        "plugins/select2/dist/js/select2.js"
        "plugins/sweetalert/sweetalert.min.js"
        "plugins/bootstrap-fileupload/bootstrap-fileupload.js"
        "plugins/jquery.blockui.min.js"
         %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Custom Theme Scripts -->
    {% javascripts filter="?jsqueeze" output="compiled/js/custom.min.js"
        "js/*.js"
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            App.Main.init();
            {% if app.session.flashBag.has('notice') %}
                App.Main.alert('{{ app.session.flashbag.get('notice')[0] }}');
            {% endif %}
        });
    </script>

    {% block page_javascripts %}{% endblock %}
{% endblock %}
