<div class="btn-group">
    <a href="{{ path('app_suppliers_view', {"id": record.id}) }}" title="{{ 'View'|trans }}" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></a>
    <a href="{{ path('app_suppliers_edit', {'id': record.id}) }}" title="{{ 'Edit'|trans }}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
    <a href="{{ path('app_suppliers_delete', {'id': record.id}) }}" title="{{ 'Remove'|trans }}" class="btn btn-danger btn-xs btn-delete"><span class="fa fa-remove"></span></a>
</div>
