{% block collection_row %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block supplier_employee_row %}
    <div class="row item">
        <div class="form-group col-sm-6 col-xs-12">
            {{ form_label(form.fullName, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            {{ form_label(form.gender, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            {{ form_label(form.mobilePhone, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.mobilePhone, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            {{ form_label(form.fixedPhone, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.fixedPhone, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group col-xs-12">
            {{ form_label(form.postalAddress, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.postalAddress, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn btn-block btn-danger btn-xs btn-remove-item"><i class="fa fa-trash"></i></button>
            <hr>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}