{% block supplier_form_row %}
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Identification info'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <dirv class="row">
                <div class="form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-sm-3 col-xs-12'}}) }}
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control col-sm-7 col-xs-12'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.fixedPhone, null, {'label_attr': {'class': 'control-label col-sm-3 col-xs-12'}}) }}
                    <div class="col-sm-6 col-xs-12">
                        {{ form_widget(form.fixedPhone, {'attr': {'class': 'form-control col-sm-7 col-xs-12'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.postalAddress, null, {'label_attr': {'class': 'control-label col-sm-3 col-xs-12'}}) }}
                    <div class="col-sm-6 col-xs-12">
                        {{ form_widget(form.postalAddress, {'attr': {'class': 'form-control col-sm-7 col-xs-12'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.bankAccounts, null, {'label_attr': {'class': 'control-label col-sm-3 col-xs-12'}}) }}
                    <div class="col-sm-6 col-xs-12">
                        {{ form_widget(form.bankAccounts, {'attr': {'class': 'form-control col-sm-7 col-xs-12'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.place, null, {'label_attr': {'class': 'control-label col-sm-3 col-xs-12'}}) }}
                    <div class="col-sm-6 col-xs-12">
                        {{ form_widget(form.place) }}
                    </div>
                </div>
            </dirv>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ form_label(form.employees)|striptags }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="collection collection-employees" data-prototype="{{ form_row(form.employees.vars.prototype)|e }}" id="{{ form.employees.vars.id }}">
                {{ form_row(form.employees) }}
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-xs" id="btnAddEmployee" title="{{ 'Add employee'|trans }}"><i class="fa fa-plus-circle"></i></button>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block collection_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block collection_widget %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block supplier_employee_row %}
    <div class="item">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                {{ form_label(form.fullName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group col-xs-6 col-sm-3">
                {{ form_label(form.jobPosition, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.jobPosition, {'attr': {"class": 'form-control'}}) }}
            </div>
            <div class="form-group col-xs-6 col-sm-3">
                {{ form_label(form.gender, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-6">
                {{ form_label(form.mobilePhone, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.mobilePhone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group col-xs-6 col-sm-6">
                {{ form_label(form.fixedPhone, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.fixedPhone, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_label(form.emails) }}
                <button type="button" class="btn btn-xs btn-default btn-add-email"><span class="fa fa-plus-circle"></span></button>
            </div>
            <div class="col-xs-12">
                <div class="row collection-emails" data-prototype="{{ form_row(form.emails.vars.prototype)|e }}">
                    {% for child in form.emails %}
                        {{ form_row(child) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12">
                {{ form_label(form.postalAddress, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.postalAddress, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-xs-12 col-sm-12">
                <button type="button" class="btn btn-block btn-danger btn-xs btn-remove-item"><i class="fa fa-trash"></i></button>
                <hr>
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block supplier_employee_email_row %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 item">
        <div class="row">
            <div class="col-xs-4">
                {{ form_widget(form.position, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-xs-8">
                <div class="input-group">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control input-sm', 'required': 'required', 'placeholder': 'Email'|trans}}) }}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-default btn-remove-item">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}
