<div class="btn-group">
    <a href="{{ path('app_offers_view', {'id': record.id}) }}" title="{{ 'View'|trans }}" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></a>
    {% if not record.isCancelled %}
        <a href="{{ path('app_offers_edit', {'id': record.id}) }}" class="btn btn-primary btn-xs" title="{{ 'Edit'|trans }}"><i class="fa fa-edit"></i></a>
        <button type="button" title="{{ 'Download offer documents'|trans }}" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% if record.offerSummaryFilename is not empty %}
                <li><a href="{{ path('app_offers_downloaditinerarydocument', {'id': record.id, 'filename': record.offerSummaryOriginalFilename}) }}" target="_blank">{{ record.offerSummaryOriginalFilename }}</a></li>
            {% endif %}
            <li>
                <a href="{{ path('app_offers_printpreview', {'id': record.id}) }}" target="_blank">
                    <span class="fa fa-file-pdf-o"></span>
                    {{ 'Booking review'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_reports_offer', {'id': record.id, 'format': 'pdf'}) }}" target="_blank">
                    <span class="fa fa-file-pdf-o"></span>
                    {{ 'Costing (pdf)'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_reports_offer', {'id': record.id, 'format': 'xls'}) }}" target="_blank">
                    <span class="fa fa-file-excel-o"></span>
                    {{ 'Costing (xls)'|trans }}
                </a>
            </li>
            {% if record.state == constant("AppBundle\\Entity\\Reservation::STATE_RESERVATION") %}
                <li>
                    <a href="{{ path('app_offers_printcash', {"id": record.id}) }}" target="_blank">
                        <span class="fa fa-file-excel-o"></span>
                        {{ 'Cash'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_offers_printvouchers', {"id": record.id}) }}" target="_blank">
                        <span class="fa fa-file-pdf-o"></span>
                        {{ 'Vouchers'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if record.state == constant('\\AppBundle\\Entity\\Reservation::STATE_OFFER') %}
            <a href="{{ path('app_offers_promote', {'id': record.id}) }}" role="button" class="btn btn-xs btn-promote bg-marron" title="{{ 'Promote'|trans }}"><i class="fa fa-check"></i></a>
        {% endif %}
        <a href="{{ path('app_offers_cancel', {'id': record.id}) }}" role="button" class="btn btn-info btn-xs btn-cancel" title="{{ 'Cancel'|trans }}"><i class="fa fa-ban"></i></a>
    {% endif %}
    <a href="{{ path('app_offers_delete', {'id': record.id}) }}" role="button" class="btn btn-danger btn-xs btn-delete" title="{{ 'Remove'|trans }}"><i class="fa fa-trash"></i></a>
</div>
