{% block _offer_form_row %}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-warning">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Client'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    {{ form_row(form.clientType) }}
                    {{ form_errors(form.clientType) }}
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    {{ form_label(form.operator, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.operator, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-4 col-xs-12 block-clienttype block-clienttype-registered select2-md"{% if form.vars.data.clienttype == 'direct' %} style="display: none;"{% endif %}>
                    {{ form_label(form.client, null, {'required': true, 'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-4 col-xs-12 block-clienttype block-clienttype-direct"{% if form.vars.data.clientType == 'registered' %} style="display: none;"{% endif %}>
                    {{ form_label(form.directClientFullName, null, {'required': true, 'label_attr': {'class': 'control-label'}})}}
                    {{ form_widget(form.directClientFullName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    {{ form_label(form.notificationLine, null, {'labl_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.notificationLine, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-6 col-xs-12 block-clienttype block-clienttype-direct"{% if form.vars.data.clientType == 'registered' %} style="display: none;"{% endif %}>
                    {{ form_label(form.directClientEmail, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.directClientEmail, {'attr': {'class': 'form-control'}}) }}
                </div><div class="form-group col-sm-6 col-xs-12 block-clienttype block-clienttype-direct"{% if form.vars.data.clientType == 'registered' %} style="display: none;"{% endif %}>
                    {{ form_label(form.directClientMobilePhone, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.directClientMobilePhone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class=" form-group col-xs-12 block-clienttype block-clienttype-direct"{% if form.vars.data.clientType == 'registered' %} style="display: none;"{% endif %}>
                    {{ form_label(form.directClientPostalAddress, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.directClientPostalAddress, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 col-xs-12 block-clienttype block-clienttype-registered"{% if form.vars.data.clienttype == 'direct' %} style="display: none;"{% endif %}>
                    {{ form_label(form.notificationContact, null, {'labl_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.notificationContact, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Booking data'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="form-group col-sm-8 col-xs-12">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'cotrol-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form_label(form.offerSummaryFile, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.offerSummaryFile, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 form-group">
                    {{ form_label(form.travelerNames, null, {'label_attr': {'class': 'cotrol-label'}}) }}
                    {{ form_widget(form.travelerNames, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    {{ form_label(form.arrivalFly, null, {'label_attr': {'class': 'cotrol-label'}}) }}
                    {{ form_widget(form.arrivalFly, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-xs-6">
                    {{ form_label(form.departureFly, null, {'label_attr': {'class': 'cotrol-label'}}) }}
                    {{ form_widget(form.departureFly, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>
                {{ 'Services'|trans }}
                <input type="hidden" name="servicesCounter" value="{{ form.services.vars.data|length }}">
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_row(form.services, {'attr': {'counter': '[name=servicesCounter]'}}) }}
            <div class="pull-right"><button title="{{ 'Add service'|trans }}" class="btn btn-default btn-xs btn-add-item" type="button" data-collection="#{{ form.services.vars.id }}"><i class="fa fa-plus-circle"></i></button></div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Administrative charges'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_row(form.administrativeCharges) }}
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Charges'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
                    {{ form_row(form.totalSuppliers, {'attr': {'class': 'input-sm text-right', 'readonly': 'readonly'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
                    {{ form_row(form.totalExpenses, {'attr': {'class': 'input-sm text-right', 'readonly': 'readonly'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                    {{ form_row(form.percentApplied) }}
                </div>
                <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                    {{ form_row(form.grandTotal, {'attr': {class: 'text-right', totalizedrevenuelines: 'totalizedrevenuelines'}}) }}
                </div>
            </div>
            {{ form_row(form.revenuePaxLines) }}
            <div class="row">
                <div class="col-sm-2 col-sm-offset-10 col-xs-6 col-xs-offset-6">
                    {{ form_row(form.totalRevenue, {attr: {class: 'text-right'}}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _offer_form_totalSuppliers_widget %}
    <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block _offer_form_totalExpenses_widget %}
    <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block _offer_form_totalRevenue_widget %}
    <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block _offer_form_profit_widget %}
    <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block _offer_form_percentApplied_row %}
    {{ form_label(form, null, {label_attr: {for: form.percent.vars.id}}) }}
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                {{ form_widget(form.percent, {'attr': {'class': 'input-sm'}}) }}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                {% if form.percent.vars.data != 'plus' %}
                    {{ form_widget(form.plus, {'attr': {'class': 'input-sm text-right', readonly: 'readonly'}}) }}
                {% else %}
                    {{ form_widget(form.plus, {'attr': {'class': 'input-sm text-right'}}) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block _offer_form_revenuePaxLines_row %}
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-xs-12">
            <strong>{{ form_label(form)|striptags }}</strong>
            <table class="table table-condensed">
                <tbody id="{{ form.vars.id }}" data-prototype="{{ form_row(form.vars.prototype)|e }}">
                    {% if form.vars.data|length == 0 %}
                        <tr>
                            <td>{{ "No elements"|trans }}</td>
                        </tr>
                    {% else %}
                        {% for child in form %}
                            {{ form_row(child) }}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="pull-right">
                <button class="btn btn-xs btn-default btn-add-item"
                        type="button"
                        title="{{ "Add"|trans }}"
                        id="btnAddItem{{ form.vars.id }}">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block reservation_pax_revenue_line_form_row %}
    <tr class="item">
        <td>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_row(form.name, {label: false, attr: {class: 'input-sm'}}) }}
                </div>
                <div class="col-md-1 col-sm-3 col-xs-6">
                    {{ form_row(form.nights, {label: false, attr: {class: 'input-sm text-right'}}) }}
                </div>
                <div class="col-md-1 col-sm-3 col-xs-6">
                    {{ form_row(form.pax, {label: false, attr: {class: 'input-sm text-right'}}) }}
                </div>
                <div class="col-sm-6 visible-sm">&nbsp;</div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    {{ form_row(form.price, {label: false, attr: {class: 'input-sm text-right'}}) }}
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    {{ form_row(form.total, {label: false, attr: {class: 'input-sm text-right'}}) }}
                </div>
            </div>
            <button type="button" class="btn btn-danger btn-xs btn-block btn-delete-item">
                <i class="fa fa-trash"></i>
            </button>
            {{ form_rest(form) }}
        </td>
    </tr>
{% endblock %}

{% block _offer_form_revenuePaxLines_entry_price_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ ' text-right'}) %}
    <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block _offer_form_revenuePaxLines_entry_total_widget %}
    <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block collection_row %}
    <div id="{{ form.vars.id }}"{% if form.vars.prototype is defined %} class="collection"{% if form.vars.prototype is defined %} data-prototype="{{ form_row(form.vars.prototype)|e}}"{% endif %} data-index="{{ form|length }}" data-counter="{{ attr.counter|default('') }}"{% endif %}>
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    </div>
{% endblock %}

{% block offer_service_row %}
    <div class="item item-service">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
                {{ form_label(form.model, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.model, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="form-group col-xs-12 col-sm-9">
                {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                <div class="input-group">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control input-sm'}}) }}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-search-service btn-default btn-sm" title="{{ 'Select service'|trans }}">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row visible-facility">
            <div class="form-group col-xs-12">
                {{ form_label(form.facilityName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.facilityName, {'attr': {'class': "form-control input-sm"}}) }}
                <div class="help-block">{{ 'For vouchers'|trans }}</div>
            </div>
        </div>
        <div class="row visible-places">
            <div class="form-group col-xs-12 col-sm-6 select2-sm">
                {{ form_label(form.origin, null, {'label_attr': {'class': 'control-label'}})}}
                {{ form_widget(form.origin, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="form-group col-xs-12 col-sm-6 select2-sm">
                {{ form_label(form.destination, null, {'label_attr': {'class': 'control-label'}})}}
                {{ form_widget(form.destination, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        <div class="row visible-rent-cars">
            <div class="col-xs-12 col-sm-6 form-group">
                Here...
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-4">
                {{ form_label(form.startAt, null, {'label_attr': {'class': 'control-label'}}) }}
                <div class="input-group date">
                    {{ form_widget(form.startAt, {'attr': {'class': 'form-control input-sm datepicker'}}) }}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-xs-6 col-sm-4">
                {{ form_label(form.endAt) }}
                <div class="input-group date">
                    {{ form_widget(form.endAt, {attr: {class: "form-control input-sm datepicker endatrequired"}}) }}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-xs-6 col-sm-2 visible-nights">
                {{ form_label(form.nights) }}
                {{ form_widget(form.nights, {attr: {class: "form-control input-sm text-right"}}) }}
            </div>
            <div class="form-group col-xs-6 col-sm-2 visible-pax">
                {{ form_label(form.pax, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.pax, {'attr': {'class': 'form-control input-sm text-right'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-8 select2-sm">
                {{ form_label(form.supplier, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.supplier, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="form-group col-xs-6 col-sm-2">
                {{ form_label(form.cost, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.cost, {'attr': {'class': 'form-control input-sm text-right'}}) }}
            </div>
            <div class="form-group col-xs-6 col-sm-2">
                {{ form_label(form.totalPrice, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.totalPrice, {'attr': {'class': 'form-control input-sm text-right'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12">
                {{ form_label(form.clientName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.clientName, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 form-group">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-xs-12 col-sm-4 form-group">
                {{ form_label(form.internalNotes, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.internalNotes, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
            <div class="col-xs-12 col-sm-4 form-group">
                {{ form_label(form.supplierNotes, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.supplierNotes, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="row">
            <div class="col-xsm-12">
                <button class="btn btn-danger btn-block btn-xs btn-remove-item" type="button" title="{{ 'Remove service'|trans }}"><i class="fa fa-trash"></i></button>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}

{% block _offer_form_administrativeCharges_row %}
    <div class="hidden-xs">
        <div class="row">
            <div class="col-sm-6 col-xs-12"><strong>{{ 'Name'|trans }}</strong></div>
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-3 text-right"><strong>{{ 'Multiplier'|trans }}</strong></div>
                    <div class="col-xs-3 text-right"><strong>{{ 'PAX'|trans }}</strong></div>
                    <div class="col-xs-3 text-right"><strong>{{ 'Price'|trans }}</strong></div>
                    <div class="col-xs-3 text-right"><strong>{{ 'Total'|trans }}</strong></div>
                </div>
            </div>
        </div>
        <br>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block offer_administrative_charge_row %}
    <div class="item item-administrative-charge">
        <div class="row">
            <div class="col-sm-6 col-xs-12 form-group">{{ form_widget(form.name, {'attr': {'class': 'form-control input-sm'}}) }}</div>
            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-3 form-group">{{ form_widget(form.multiplier, {'attr': {'class': 'form-control text-right input-sm'}}) }}</div>
                    <div class="col-xs-3 form-group">{{ form_widget(form.pax, {'attr': {'class': 'form-control text-right input-sm'}}) }}</div>
                    <div class="col-xs-3 form-group">{{ form_widget(form.price, {'attr': {'class': 'form-control text-right input-sm'}}) }}</div>
                    <div class="col-xs-3 form-group">{{ form_widget(form.total, {'attr': {'class': 'form-control text-right input-sm', 'placeholder': 'Total'|trans}}) }}</div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}
