<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ 'Hotel'|trans }}</th>
            <th>{{ 'Room'|trans }}</th>
            <th>{{ 'Seasson'|trans }}</th>
            <th>{{ 'Plan'|trans }}</th>
            <th>{{ 'Pax'|trans }}</th>
            <th>{{ 'Price'|trans }}</th>
            <th>{{ 'Total'|trans }}</th>
            <th width="40" data-sortable="false">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for price in query.result %}
            {%- set data = {
hotel: price.season.facility.name,
serviceName: '%nights% nights(s) in %q% x %room%(s) at %hotel%'|trans({'%nights%': nights, '%q%': quantity, '%room%': price.room, '%hotel%': price.season.facility}),
nights: nights,
supplier: {
    id: price.contract.supplier.id,
    name: price.contract.supplier.name
},
pax: price.cupo,
plan: 'Meal plan: %plan%'|trans({'%plan%': price.plan}),
cost: '%0.2f'|format(price.value),
totalPrice: '%0.2f'|format(price.value * quantity * nights)
        } -%}
            <tr>
                <td>{{ price.season.facility }} ({{ price.contract.supplier }})</td>
                <td>{{ price.room }}</td>
                <td>{{ price.season }}</td>
                <td>{{ price.plan }}</td>
                <td>{{ price.cupo }}</td>
                <td class="text-right">{{ '%0.2f'|format(price.value) }}</td>
                <td class="text-right">{{ '%0.2f'|format(price.value * quantity * nights) }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-success btn-xs btn-select-service" title="{{ 'Select service'|trans }}" data-service="{{ data|json_encode|e }}"><i class="fa fa-check"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
