{% extends 'frontend.html.twig' %}

{% form_theme form 'Offers/fields.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ 'Offers'|trans }} <small>{{ 'new'|trans }}</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'role': 'form', 'id': 'reservation'}}) }}
                {{ form_row(form) }}
                <div class="pull-right">
                    <label>
                        {{ form_widget(form.jumpToOperation, {'attr': {'class': 'flat'}}) }}
                        {{ form.jumpToOperation.vars.label }}
                    </label>
                    |
                    <button type="button" class="btn btn-primary" onclick="$('form#reservation').submit();">{{ 'Save'|trans }}</button>
                    <a href="{{ path('app_offers_index') }}" class="btn btn-default">{{ 'Back to list'|trans }}</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            App.Bookings.Form.init();
        });
    </script>
{% endblock %}
