<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ 'Room'|trans }}</th>
            <th>{{ 'Plan'|trans }}</th>
            <th>{{ 'Price'|trans }}</th>
            <th>{{ 'Total'|trans }}</th>
            <th width="40" data-sortable="false">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for price in query.result %}
            <tr>
                <td>{{ '%room% in %hotel% (%supplier%)'|trans({'%room%': price.room, '%hotel%': price.season.facility, '%supplier%': price.contract.supplier}) }}</td>
                <td>{{ price.plan }}</td>
                <td class="text-right">{{ '%0.2f'|format(price.value) }}</td>
                <td class="text-right">{{ '%0.2f'|format(price.value * quantity * nights) }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-success btn-xs btn-select-price" title="{{ 'Select service'|trans }}" data-service-name="{{ '%room%x%quantity% in %hotel% for %nights% nigths'|trans({'%room%': price.room, '%hotel%': price.season.facility, '%nights%': nights, '%quantity%': quantity}) }}" data-supplier-charge="{{ '%0.2f'|format(price.value * quantity * nights) }}" data-service-supplier="{{ price.contract.supplier.id }}" data-facility-name="{{ price.season.facility }}" data-client-description="{% trans with {'%nights%': nights, '%quantity%': quantity, '%room%': price.room, '%hotel%': price.season.facility} %}%%nights%% nights in %%quantity%% %%room%% of %%hotel%%{% endtrans %}"><i class="fa fa-check"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
