    <ul class="nav nav-tabs" role="tablist">
        {% for model in models %}
            <li{{ model.name == 'hotel' ? ' class="active"' : '' }} role="presentation"><a href="#tab-{{ model.name }}" aria-controls="tab-{{ model.name }}" role="tab" data-toggle="tab">{{ model.display|trans }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="tab-hotel" style="padding: 16px;">
            <form action="" id="filter-hotel">
                <div class="row row-datepickers">
                    <div class="col-sm-3 form-group">
                        <label class="control-label">{{ 'From'|trans }}</label>
                        <div class="input-group date">
                            <input type="text" class="form-control input-sm datepicker">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="control-label">{{ 'To'|trans }}</label>
                        <div class="input-group date">
                            <input type="text" class="form-control input-sm datepicker">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="control-label">{{ 'Pax'|trans }}</label>
                        <select name="filter[pax]" class="form-control input-sm pax">
                            <option value=""></option>
                            {% for cupo in cupos %}
                                <option value="{{ cupo }}">{{ cupo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="control-label">{{ 'Plan'|trans }}</label>
                        <select name="filter[plan]" class="form-control input-sm pax">
                            <option value=""></option>
                            {% for plan in plans %}
                                <option value="{{ plan }}">{{ plan }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="control-label">{{ 'Quantity'|trans }}</label>
                        <select name="filter[quantity]" class="form-control input-sm pax">
                            {% for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive"></div>
                </div>
            </div>
        </div>
        {% for model in models if model.name not in ['hotel'] %}
            <div class="tab-pane" role="tabpanel" id="tab-{{ model.name }}" style="padding: 16px;">
                <form action="" role="form" id="filter-{{ model.name }}">
                    <div class="row row-datepickers">
                        <div class="col-sm-5 form-group">
                            <label class="control-label">{{ 'From'|trans }}</label>
                            <div class="input-group date">
                                <input type="text" class="form-control input-sm datepicker">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-5 form-group">
                            <label class="control-label">{{ 'To'|trans }}</label>
                            <div class="input-group date">
                                <input type="text" class="form-control input-sm datepicker">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label class="control-label">{{ 'Quantity'|trans }}</label>
                            <select class="form-control input-sm" name="quantity">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive results"></div>
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
