<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ 'Supplier'|trans }}</th>
            <th>{{ 'Service'|trans }}</th>
            <th>{{ 'Price'|trans }}</th>
            <th>{{ 'Total'|trans }}</th>
            <th width="40" data-sortable="false">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for service in query.result %}
            <tr>
                <td>{{ service.contract.supplier }}</td>
                <td>{{ service.name }}</td>
                <td class="text-right">{{ '%0.2f'|format(service.price) }}</td>
                <td class="text-right">{{ '%0.2f'|format(service.price * quantity) }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-success btn-xs btn-select-price" data-service-name="{{ '{1} %service%|]2,Inf[ %service% x %quantity%'|transchoice(quantity, {'%service%': service.name, '%quantity%': quantity}) }}" data-supplier-charge="{{ '%0.2f'|format(service.price * quantity) }}" data-service-supplier="{{ service.contract.supplier.id }}" data-client-description="{% trans with {'%quantity%': quantity, '%service%': service.name} %}%%service%% x %%quantity%%{% endtrans %}"><i class="fa fa-check"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>