<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ 'Service'|trans }}</th>
            <th>{{ 'Supplier'|trans }}</th>
            <th>{{ 'Price'|trans }}</th>
            <th>{{ 'Total'|trans }}</th>
            <th width="40" data-sortable="false">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for service in query.result %}
            {%- set data = {
serviceName: service.name,
supplier: {
    id: service.contract.supplier.id,
    name: service.contract.supplier.name
},
cost: '%0.2f'|format(service.price),
totalPrice: '%0.2f'|format(service.price * quantity)
        } -%}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.contract.supplier }}</td>
                <td class="text-right">{{ '%0.2f'|format(service.price) }}</td>
                <td class="text-right">{{ '%0.2f'|format(service.price * quantity) }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-success btn-xs btn-select-service" data-service="{{ data|json_encode }}"><i class="fa fa-check"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
