<div class="btn-group">
    {% if not record.isCancelled %}
        <a href="{{ path('app_bookings_view', {'id': record.id}) }}" class="btn btn-xs btn-default btn-view" role="button" title="{{ 'View'|trans }}" data-edit-url="{{ path('app_bookings_edit', {'id': record.id}) }}"><i class="fa fa-eye"></i></a>
        <a href="{{ path('app_bookings_edit', {'id': record.id}) }}" class="btn btn-primary btn-xs">
        	<i class="fa fa-edit"></i>
        </a>
        <a href="{{ path('app_bookings_cancel', {'id': record.id}) }}" class="btn btn-xs btn-info btn-cancel" role="button" title="{{ 'Cancel'|trans }}"><i class="fa fa-ban"></i></a>
    {% endif %}
    <a href="{{ path('app_bookings_delete', {'id': record.id}) }}" class="btn btn-xs btn-danger btn-remove" role="button" title="{{ 'Remove'|trans }}"><i class="fa fa-trash"></i></a>
</div>