{% extends 'frontend.html.twig' %}

{% form_theme form 'Offers/fields.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ 'Bookings'|trans }} <small>{{ 'edit'|trans }}</small></h3>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role': 'form', 'id': 'form-x'}}) }}
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ 'Client'|trans }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12">
                        <label class="control-label">{{ 'Client'|trans }}</label>
                        <input class="form-control" readonly="readonly" value="{{ form.vars.data.client is not null ? form.vars.data.client : form.vars.data.directClientFullName }}">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        {{ form_label(form.operator, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.operator, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {% if form.notificationContact is defined %}
                        <div class="form-group col-sm-3 col-xs-8">
                            {{ form_label(form.notificationContact, null, {'labl_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.notificationContact, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    {% endif %}
                    <div class="form-group col-sm-3 col-xs-4">
                        {{ form_label(form.notificationLine, null, {'labl_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.notificationLine, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ 'Booking data'|trans }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="form-group col-sm-8 col-xs-12">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'cotrol-label'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form_label(form.offerSummaryFile, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.offerSummaryFile, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        {{ form_label(form.travelerNames, null, {'label_attr': {'class': 'cotrol-label'}}) }}
                        {{ form_widget(form.travelerNames, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    {{ 'Services'|trans }}
                    <input type="hidden" name="servicesCounter" value="{{ form.services.vars.data|length }}">
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_row(form.services, {'attr': {'counter': '[name=servicesCounter]'}}) }}
                <div class="pull-right"><button title="{{ 'Add service'|trans }}" class="btn btn-default btn-xs btn-add-item" type="button" data-collection="#{{ form.services.vars.id }}"><i class="fa fa-plus-circle"></i></button></div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ 'Administrative charges'|trans }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_row(form.administrativeCharges) }}
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ 'Charges'|trans }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8 form-group">
                        {{ form_label(form.clientCharge, null, {'label_attr': {'class': 'control-label'}}) }}
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" id="btnRecalc" title="{{ 'Calc'|trans }}"><i class="fa fa-refresh"></i></button>
                            </span>
                            {{ form_widget(form.clientCharge, {'attr': {'class': 'form-control text-right'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <a href="{{ path('app_clients_index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    {{ form_end(form) }}

    <div class="modal fade in" id="searchServiceModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'Search service'|trans }}</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">{{ 'Close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('plugins/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        url_searchservice = '{{ path('app_offers_searchservice') }}';
    </script>
    <script src="{{ asset('js/form-reservation.js') }}"></script>
{% endblock %}