{{ form_start(form, {'action': path('app_user_changepassword')}) }}
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.current_password, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
            <div class="help-block"></div>
        </div>
        <div class="col-xs-12">
            {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            <div class="help-block"></div>
        </div>
        <div class="col-xs-12">
            {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            <div class="help-block"></div>
        </div>
    </div>
{{ form_end(form) }}
