<div class="btn-group">
    <a href="{{ path('app_places_view', {'id': record.id}) }}" class="btn btn-default btn-xs" title="{{ 'View'|trans }}"><span class="fa fa-eye"></span></a>
    <a href="{{ path('app_places_edit', {'id': record.id}) }}" class="btn btn-primary btn-xs" title="{{ 'Edit'|trans }}"><span class="fa fa-edit"></span></a>
    <a href="{{ path('app_places_delete', {'id': record.id}) }}" class="btn btn-danger btn-xs btn-delete" title="{{ 'Remove'|trans }}"><span class="fa fa-trash"></span></a>
</div>
