{% extends 'base.html.twig' %}

{% block html_tag %}<html lang="en">{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}{{ 'P&G Travel Operations'|trans }}{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    {% stylesheets filter="cssrewrite,?scssphp" output="compiled/css/login.min.css"
        "plugins/tooltipster/css/tooltipster.css"
        "plugins/tooltipster/css/tooltipster-custom.css"
        "plugins/nprogress/nprogress.css"
        "plugins/iCheck/skins/flat/green.css"
        "plugins/animate.css/animate.css"
        "css/custom.css"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block body_tag %}<body class="login">{% endblock %}

{% block body %}
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="{{ path('fos_user_security_check') }}" method="post" role="form" id="formLogin">
                        <h1>{{ 'Sign in'|trans }}</h1>
                        {% if error %}
                            <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div>
                            <input type="email" class="form-control" placeholder="Username" required name="_username" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required name="_password" />
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" name="_remember_me" class="iCheck">
                                {{ "Remember me in this device (1 week)"|trans }}
                            </label>
                            <br><br>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit">{{ 'Log in'|trans }}</button>
                            <a class="reset_pass" href="#">{{ 'Lost your password?'|trans }}</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            {#
                            <p class="change_link">New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>
                            #}
                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-cog"></i> P&amp;G Travel Operations</h1>
                                <!--
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                -->
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">Already a member?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts filter="?jsqueeze" output="compiled/js/login.min.js"
        "plugins/jquery/jquery-3.3.1.min.js"
        "plugins/bootstrap/js/bootstrap.js"
        "plugins/tooltipster/js/jquery.tooltipster.js"
        "plugins/jquery-validation/dist/jquery.validate.js"
        "plugins/iCheck/icheck.js"
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            $('input:checkbox.iCheck').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                increaseArea: '20%'
            });
            $('#formLogin').validate({
                errorPlacement: function(error, element) {
                    if (!element.data('tooltipster-ns')) {
                        element.tooltipster({
                            trigger: 'custom',
                            onlyOne: false,
                            position: 'bottom-left',
                            positionTracker: true
                        });
                    }
                    element.tooltipster('update', $(error).text());
                    element.tooltipster('show');
                },
                success: function (label, element) {
                    $(element).tooltipster('hide');
                }
            });
        });
    </script>
{% endblock %}
