<div class="btn-group">
    <a href="{{ path("app_clients_view", {"id": record.id}) }}" class="btn btn-default btn-xs" title="{{ 'View'|trans }}"><span class="fa fa-eye"></span></a>
    <a href="{{ path('app_clients_edit', {'id': record.id}) }}" class="btn btn-primary btn-xs" title="{{ 'Edit'|trans }}"><i class="fa fa-edit"></i></a>
    <a href="{{ path('app_clients_delete', {'id': record.id}) }}" class="btn btn-xs btn-danger btn-delete" title="{{ 'Remove'|trans }}"><i class="fa fa-trash"></i></a>
</div>
