{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ 'Contracts'|trans }} <small>{{ 'edit'|trans }}</small></h3>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role': 'form', 'id': 'contract'}}) }}
        {{ include('Contracts/form.html.twig') }}
        <div class="pull-right">
            <a href="{{ path('app_contracts_index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block page_javascripts %}
    <script src="{{ asset('js/form-contract.js') }}"></script>
{% endblock %}
