{% block collection_row %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block contract_form_row %}
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Identification info'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group col-xs-12 col-sm-4">
                {{ form_label(form.model, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.model) }}
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group col-xs-12 col-sm-4">
                {{ form_label(form.supplier, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.supplier, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.supplier) }}
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Dates info'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form_label(form.signedAt, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="input-group date">
                        {{ form_widget(form.signedAt, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form_errors(form.signedAt) }}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form_label(form.startAt, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="input-group date">
                        {{ form_widget(form.startAt, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form_errors(form.startAt) }}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form_label(form.endAt, null, {'label_attr': {'class': 'control-label'}}) }}
                    <div class="input-group">
                        {{ form_widget(form.endAt, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form_errors(form.endAt) }}
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel hiddeable-condition hiddeable-condition-hotel hiddeable-condition-private-house hiddeable-condition-car-rental"{{ form.vars.data.model in ['hotel', 'private-house', 'car-rental'] ? ' style="display: none;"' : '' }}>
        <div class="x_title">
            <h2>{{ form_label(form.topServices)|striptags }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="collection collection-topservices" data-prototype="{{ form_row(form.topServices.vars.prototype)|e }}">
                {{ form_row(form.topServices) }}
            </div>
            <div class="clearfix"></div>
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs btn-add-item" title="{{ 'Add service'|trans }}"><i class="fa fa-plus-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="x_panel visible-condition-only visible-condition-only-hotel"{% if form.vars.data.model != 'hotel' %} style="display: none;"{% endif %}>
        <div class="x_title">
            <h2>{{ form_label(form.facilities)|striptags }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="collection collection-facilities" data-prototype="{{ form_row(form.facilities.vars.prototype)|e }}">
                {{ form_row(form.facilities) }}
            </div>
            <div class="clearfix"></div>
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs btn-add-item" title="{{ 'Add hotel'|trans }}"><i class="fa fa-plus-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="x_panel visible-condition-only visible-condition-only-private-house"{% if form.vars.data.model != 'private-house' %} style="display: none;"{% endif %}>
        <div class="x_title">
            <h2>{{ form_label(form.privateHouseServices)|striptags }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="collection collection-private-house-services" data-prototype="{{ form_row(form.privateHouseServices.vars.prototype)|e }}">
                {{ form_row(form.privateHouseServices) }}
            </div>
            <div class="clearfix"></div>
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs btn-add-item" title="{{ 'Add service'|trans }}"><i class="fa fa-plus-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="x_panel visible-condition-only visible-condition-only-car-rental"{% if form.vars.data.model != 'car-rental' %} style="display: none;"{% endif %}>
        <div class="x_title">
            <h2>{{ form_label(form.carRentalServices)|striptags }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="collection collection-car-rental-services" data-prototype="{{ form_row(form.carRentalServices.vars.prototype)|e }}">
                {{ form_row(form.carRentalServices) }}
            </div>
            <div class="clearfix"></div>
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs btn-add-item" title="{{ 'Add service'|trans }}"><i class="fa fa-plus-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Attachments'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="collection coolection-attachments" data-prototype="{{ form_row(form.attachments.vars.prototype)|e }}">
                {{ form_row(form.attachments) }}
            </div>
            <div class="clearfix"></div>
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs btn-add-item" title="{{ 'Add attachment'|trans }}"><i class="fa fa-plus-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ 'Adittional info'|trans }}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group col-xs-12 col-sm-6">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                {{ form_label(form.notes, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.notes) }}
            </div>
            <div class="form-group col-xs-12">
                {{ form_label(form.extraConditions, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.extraConditions) }}
                {{ form_errors(form.extraConditions) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block contract_attachment_row %}
    <div class="item item-attachment">
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.file, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.file) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn btn-danger btn-block btn-xs btn-remove" title="{{ 'Remove'|trans }}"><i class="fa fa-trash"></i></button>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
{% endblock %}

{% block contract_top_service_row %}
    <div class="row item item-top-service">
        <div class="form-group col-xs-12 col-sm-10">
            {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group col-xs-12 col-sm-2">
            {{ form_label(form.price, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control text-right'}}) }}
            {{ form_errors(form.price) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.startAt, null, {'label_attr': {'class': 'control-label'}}) }}
            <div class="input-group date">
                {{ form_widget(form.startAt, {'attr': {'class': 'form-control datepicker'}}) }}
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            {{ form_errors(form.startAt) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.endAt, null, {'label_attr': {'class': 'control-label'}}) }}
            <div class="input-group date">
                {{ form_widget(form.endAt, {'attr': {'class': 'form-control datepicker'}}) }}
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            {{ form_errors(form.endAt) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.notes, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.notes) }}
        </div>
        <div class="col-xs-12">
            <button type="button" class="btn btn-danger btn-block btn-xs btn-remove" title="{{ 'Remove'|trans }}"><i class="fa fa-trash"></i></button>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block contract_facility_row %}
    <div class="row item item-hotel-facility">
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.category, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.category) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.postalAddress, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.postalAddress, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.postalAddress) }}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            {{ form_label(form.activePlans, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.activePlans, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.postalAddress) }}
        </div>
        <div class="col-xs-12">
            <div class="x_panel item">
                <div class="x_title">{{ 'Rooms'|trans }}</div>
                <div class="x_content">
                    <div class="row collection collection-rooms" data-prototype="{{ form_row(form.rooms.vars.prototype)|e }}">
                        {{ form_row(form.rooms) }}
                    </div>
                    <div class="clearfix"></div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-info btn-xs btn-add-item" title="{{ 'Add room'|trans }}"><i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="x_panel item">
                <div class="x_title">{{ 'Seasons'|trans }}</div>
                <div class="x_content">
                    <div class="row collection collection-seasons" data-prototype="{{ form_row(form.seasons.vars.prototype)|e }}">
                        {{ form_row(form.seasons) }}
                    </div>
                    <div class="clearfix"></div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-xs btn-add-item" title="{{ 'Add season'|trans }}"><i class="fa fa-plus-circle"></i></button>
                            <button type="button" class="btn btn-xs btn-default btn-create-rest-seasons" title="{{ 'Fill empty periods'|trans }}"><span class="fa fa-cog"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-xs btn-clone-item" title="{{ 'Copy hotel'|trans }}"><i class="fa fa-clone"></i></button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger btn-xs btn-remove" title="{{ 'Remove hotel'|trans }}"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
{% endblock %}

{% block contract_facility_room_row %}
    <div class="form-group col-xs-12 col-sm-4 item">
        <div class="input-group">
            {{ form_widget(form.name, {'attr': {'class': 'form-control input-sm', 'placeholder': 'Room name'|trans}}) }}
            <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-danger btn-remove" title="{{ 'Remove room'|trans }}"><i class="fa fa-trash"></i></button>
            </span>
        </div>
    </div>
{% endblock %}

{% block contract_facility_season_row %}
    <div class="col-sm-6 col-xs-12 item item-facility-season">
        <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
                <div class="input-group date">
                    {{ form_widget(form.fromDate, {'attr': {'class': 'form-control datepicker', 'placeholder': 'From'|trans}}) }}
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form_errors(form.fromDate) }}
            </div>
            <div class="form-group col-sm-6 col-xs-12">
                <div class="input-group date">
                    {{ form_widget(form.toDate, {'attr': {'class': 'form-control datepicker', 'placeholder': 'To'}}) }}
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form_errors(form.toDate) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-xs btn-danger btn-block btn-remove" type="button"><i class="fa fa-trash"></i></button>
                <hr class="visible-xs">
                <br class="hidden-xs">
            </div>
        </div>
    </div>
{% endblock %}

{% block contract_private_house_service_row %}
    <div class="row item item-private-house-service">
        <div class="col-md-2 col-xs-6 form-group">
            {{ form_label(form.roomName) }}
            {{ form_widget(form.roomName, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
        <div class="col-md-2 col-xs-6 form-group">
            {{ form_label(form.province) }}
            {{ form_widget(form.province, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
        <div class="col-md-2 col-xs-12 form-group">
            {{ form_label(form.mealPlan) }}
            {{ form_widget(form.mealPlan, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
        <div class="col-md-2 col-xs-6 form-group">
            {{ form_label(form.startAt) }}
            <div class="input-group date">
                {{ form_widget(form.startAt, {'attr': {'class': 'form-control input-sm datepicker'}}) }}
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
            {% if form.startAt.vars.errors|length > 0 %}
                <div class="error text-danger" id="error-{{ form.startAt.vars.id }}">
                    {{ form_errors(form.startAt)|striptags }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-2 col-xs-6 form-group">
            {{ form_label(form.endAt) }}
            <div class="input-group date">
                {{ form_widget(form.endAt, {'attr': {'class': 'form-control input-sm datepicker'}}) }}
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
            {% if form.endAt.vars.errors|length > 0 %}
                <div class="error text-danger" id="error-{{ form.endAt.vars.id }}">
                    {{ form_errors(form.endAt)|striptags }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-2 col-xs-12 form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control input-sm text-right'}}) }}
        </div>
        {{ form_rest(form) }}
        <div class="col-md-12 col-xs-12">
            <button type="button" class="btn btn-danger btn-block btn-xs btn-remove">
                <i class="fa fa-trash"></i>
            </button>
            <hr class="visible-xs">
            <br class="hidden-xs">
        </div>
    </div>

{% endblock %}

{% block contract_car_rental_service_row %}
    <div class="row item item-car-rental-service">
        <div class="col-xs-6 col-sm-4 form-group">
            {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
        <div class="col-xs-6 col-sm-2 form-group">
            {{ form_label(form.carType, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.carType, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
        <div class="col-xs-4 col-sm-2 form-group">
            {{ form_label(form.startAt, null, {'label_attr': {'class': 'control-label'}}) }}
            <div class="input-group date">
                {{ form_widget(form.startAt, {'attr': {'class': 'form-control input-sm datepicker'}}) }}
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 form-group">
            {{ form_label(form.endAt, null, {'label_attr': {'class': 'control-label'}}) }}
            <div class="input-group date">
                {{ form_widget(form.endAt, {'attr': {'class': 'form-control input-sm datepicker'}}) }}
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 form-group">
            {{ form_label(form.price, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control input-sm text-right'}}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}
