{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ record.name }} <small>{{ 'prices'|trans }}</small></h3>
        </div>
    </div>

    <form id="prices" action="" method="post" role="form">
        {% for facility in record.facilities %}
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ facility }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content table-responsive">
                    <table class="table table-striped table-condensed" data-block="{{ facility.id }}">
                        <thead>
                            <tr>
                                <th rowspan="2">{{ 'Room'|trans }}</th>
                                <th rowspan="2">{{ 'Plan'|trans }}</th>
                                {% for season in facility_seasons_ordered(facility) %}
                                    <th class="text-center" colspan="{{ cupos|length }}">
                                        {% trans with {'%from%': season.fromDate|date('d/m/Y'), '%to%': season.toDate|date('d/m/Y')} %}%%from%% to %%to%%{% endtrans %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                {% for sX in facility.seasons if sX.id != season.id %}
                                                    <li>
                                                        <a href="#" class="copy-prices" data-from="{{ sX.id }}" data-to="{{ season.id }}">
                                                            <span class="fa fa-clone"></span>
                                                            {{ "Copy prices from %1%"|trans({"%1%": sX}) }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for season in facility.seasons %}
                                    {% for cupo in cupos %}
                                        <th class="text-center" style="min-width: 70px;">{{ cupo }}</th>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for roomIndex, room in facility.rooms %}
                                {% for planIndex, plan in facility.activePlans %}
                                    <tr>
                                        {% if planIndex == 0 %}
                                            <td{% if facility.activePlans|length > 1 %} rowspan="{{ facility.activePlans|length }}"{% endif %}>{{ room }}</td>
                                        {% endif %}
                                        <td>{{ plan }}</td>
                                        {% for season in facility.seasons %}
                                            {% for cupo in cupos %}
                                                <td><input type="text" class="form-control input-sm text-right updatable-ajax" data-params="contract:{{ record.id }}|room:{{ room.id }}|plan:{{ plan }}|season:{{ season.id }}|cupo:{{ cupo }}" value="{{ prices[room.id][plan][season.id][cupo]|default("") }}"></td>
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock %}

{% block page_javascripts %}
    <script>
        $(document).ready(function() {
            App.HotelPrices.Form.init();
        });
    </script>
{% endblock %}
