{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ contract.name }} <small>{{ 'prices'|trans }}</small></h3>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h4>Prices for private house</h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive">
            <table class="table-striped table-condensed">
                <thead>
                    <tr>
                        <th>{{ "Room"|trans }}</th>
                        {% for season in contract.privateHouseSeassons %}
                            <th colspan="2">{{ season }} ({{ season.startAt|date("d/m/Y") }} - {{ season.endAt|date("d/m/Y") }})</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for facility in contract.privateHouseFacilities %}
                        <tr>
                            <td>{{ facility }}</td>
                            {% for season in contract.privateHouseSeassons %}
                                <td>
                                    <!-- ko component: {
                                            name: 'input-price',
                                            params: {
                                                season: {{ season.id }},
                                                facility: {{ facility.id }},
                                                value: '{{ prices[facility.id][season.id]|default("") }}'
                                            }
                                        } -->
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <a href="{{ path('app_contracts_setprivatehousenotes', {'seasonId': season.id, 'facilityId': facility.id}) }}"
                                       class="link-edit-notes"
                                       data-params="season:{{ season.id }}|facility:{{ facility.id }}">Notes</a>
                                    <div class="modal fade modal-notes" data-backdrop="static">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="{{ path('app_contracts_setprivatehousenotes', {seasonId: season.id, facilityId: facility.id}) }}" method="post">
                                                    <div class="modal-header">
                                                        <button class="close" type="button" data-dismiss="modal"><span
                                                                    class="fa fa-times"></span></button>
                                                        <h4 class="modal-title">{{ 'Price notes'|trans }}</h4>
                                                    </div>
                                                    <div class="modal-body"></div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary btn-sm btn-submit-note" type="button">
                                                            {{ 'Save'|trans }}
                                                        </button>
                                                        <button class="btn btn-default btn-sm"
                                                                data-dismiss="modal">
                                                            {{ 'Cancel'|trans }}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            ko.components.register('input-price', {
                viewModel: function(params) {
                    this.season = params.season;
                    this.facility = params.facility;
                    this.dataParams = params.dataParams;
                    this.value = ko.observable(params.value);
                    this.isSaving = ko.observable(false);
                    this.dataParams = ko.pureComputed(function() {
                        return 'season:' + this.season + '|facility:' + this.facility;
                    }, this);

                    this.onChange = function() {
                        var id = $.now(),
                            data = {
                                season: this.season,
                                facility: this.facility,
                                value: this.value()
                            };

                        this.isSaving(true);
                        var self = this;

                        $.ajax({
                            url: Routing.generate('app_contracts_setprivatehouseprice'),
                            data: data,
                            dataType: 'json',
                            method: 'POST'
                        }).done(function(response) {
                            self.value(response.value);
                            self.isSaving(false);
                        });
                    }
                },
                template:
                    '<div class="input-group input-group-sm" style="margin-bottom: 0px;">' +
                    '<span class="input-group-addon"><span class="fa fa-dollar"></span></span>' +
                    '<input type="text" data-bind="{value: value, attr: {\'data-params\': dataParams()}, style: {borderColor: isSaving() ? \'red\' : \'\'}, event: {change: onChange}}" class="form-control text-right updatable-ajax">' +
                    '</div>'
            });

            ko.applyBindings();

            App.PrivateHousePrices.init();
        });
    </script>
{% endblock %}
