{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{{ contract.name }} <small>{{ 'prices'|trans }}</small></h3>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h4>ABC</h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content table-responsive">
            <table class="table-striped table-condensed">
                <thead>
                    <tr>
                        <th>{{ "Room"|trans }}</th>
                        {% for season in contract.privateHouseSeassons %}
                            <th colspan="2">{{ season }} ({{ season.startAt|date("d/m/Y") }} - {{ season.endAt|date("d/m/Y") }})</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for facility in contract.privateHouseFacilities %}
                        <tr>
                            <td>{{ facility }}</td>
                            {% for season in contract.privateHouseSeassons %}
                                <td>
                                    <div class="input-group input-group-sm" style="margin-bottom: 0px;">
                                        <span class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                        <input type="text"
                                               class="form-control text-right updatable-ajax"
                                               value="{{ prices[facility.id][season.id]|default("") }}"
                                               data-params="season:{{ season.id }}|facility:{{ facility.id }}">
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ path('app_contracts_setprivatehousenotes', {'seasonId': season.id, 'facilityId': facility.id}) }}"
                                       class="link-edit-notes"
                                       data-params="season:{{ season.id }}|facility:{{ facility.id }}">Notes</a>
                                    <div class="modal fade modal-notes" data-backdrop="static">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="{{ path('app_contracts_setprivatehousenotes', {seasonId: season.id, facilityId: facility.id}) }}" method="post">
                                                    <div class="modal-header">
                                                        <button class="close" type="button" data-dismiss="modal"><span
                                                                    class="fa fa-times"></span></button>
                                                        <h4 class="modal-title">{{ 'Price notes'|trans }}</h4>
                                                    </div>
                                                    <div class="modal-body"></div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary btn-sm btn-submit-note" type="button">
                                                            {{ 'Save'|trans }}
                                                        </button>
                                                        <button class="btn btn-default btn-sm"
                                                                data-dismiss="modal">
                                                            {{ 'Cancel'|trans }}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            App.PrivateHousePrices.init();

            var submitHandler = function() {

            };

            $('a.link-edit-notes').on('click', function(event) {
                event.preventDefault();

                var input = $('input:text[data-params="' + $(this).data('params') + '"]'),
                    modal = $(this).closest('tr').find('.modal'),
                    url = $(this).attr('href');

                modal.find('.modal-body').empty();
                modal.find('.modal-footer button.btn-primary').hide();

                if (($.trim(input.val()) === '') || !$.isNumeric(input.val())) {
                    swal({
                        title: 'Notes without price',
                        text: 'You must set a price for this record before write notes',
                        type: 'warning'
                    });
                }

                modal.data('url', url);
                modal.modal();
            });

            $('.modal-notes').on('shown.bs.modal', function() {
                var modal = $(this);

                modal.find('.modal-body')
                    .load($(this).data('url'), function() {
                        modal.find('.modal-footer button.btn-primary').fadeIn();
                    })
                    .block({
                        message: 'Loading data...'
                    });
            });

            $('button.btn-submit-note').on('click', function() {
                $(this).attr('disabled', 'disabled');
                $(this).closest('form').submit();
            });

            $('.modal-notes form').each(function() {
                var form = $(this);
                $(this).ajaxForm({
                    target: form.find('.modal-body'),
                    success: function() {
                        form.find('button.btn-primary').removeAttr('disabled');
                    }
                });
            });
        });
    </script>
{% endblock %}
